/assets/atlas/atlas.items.meta_79954554_0.3dst
/assets/atlas/atlas.terrain.meta_79954554_0.3dst
/assets/atlas/atlas.rar
/3dsTexture
/tmp
/atlasitem.png
/atlasterrain.png
/atlasitemIndexes.png
/test.py
/tmp.3dst