/System Volume Information
/createindex.py
/hexDump.py
/Ohana3DS
/bare-bones-1-20
/assets/textures
/assets/atlas/atlas.items.meta_79954554_0.3dst
/assets/atlas/atlas.terrain.meta_79954554_0.3dst
/getheader.py
/atlasterrain.png
/atlasitem.png
/minecraft-new-textures
/3dsTexture
/atlasitem2.png
/dumped
/atlasterrain2.png
/.gitignore